<!-- your html code here -->

<div style="display:flex; align-items:center; justify-content:space-between; width:100%;">

    <!-- Texto -->
    <div style="width:65%;">
        <h2 style="font-family: Helvetica; font-size:32px; font-weight:700; margin-bottom:15px;">
            This First Heading <span style="color:#999;">Will Catch Your Eye</span>
        </h2>

        <p style="font-family: Helvetica; font-size:16px; line-height:1.6; color:#555;">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur.
            Fusce dapibus, tellus ac cursus commodo.
        </p>
    </div>

    <!-- Imagen -->
    <div style="width:35%; text-align:right;">
        <img src="/website/assets/img/1.jpg" alt="ww" style="width:20rem; height:20rem; border-radius:50%; object-fit:cover; margin-right: 10rem; margin-top: 5rem;">
    </div>

</div>
