<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sección estilo</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <section class="container">
        <div class="image-container">
            <img src="https://images.unsplash.com/photo-1517336714731-489689fd1ca8" alt="keyboard">
        </div>

        <div class="text-container">
            <h1>
                The Second Heading Is <span>Pretty Cool Too</span>
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sit neque architecto, deleniti exercitationem omnis necessitatibus ratione provident eligendi culpa, laudantium asperiores quasi error obcaecati voluptatum? Ipsum odio aspernatur a?
            </p>
        </div>
    </section>

</body>
</html>